<template>
  <div id="app">
    <Navbar v-bind:userType="userType" />
    <Reports v-bind:facultyID="facultyID" />
    <Footer />
  </div>
</template>

<script>
import Reports from "@/components/reports";
import Navbar from "@/components/navbar";
import Footer from "@/components/footer";

export default {
  name: "App",
  components: {
    Reports,
    Navbar,
    Footer,
  },
  props: ["facultyID"],
  data() {
    return {
      userType: "4",
    };
  },
};
</script>
