<template>
  <section
    class="md:min-h-screen h-auto w-full flex align-middle bg-gray-100 py-24"
  >
    <div class="container px-5 py-12 mx-auto bg-white rounded-lg">
      <div class="flex flex-col text-center w-full mb-10">
        <h1 class="font-semibold text-2xl text-center pt-10">Welcome To</h1>
        <h1 class="font-semibold text-2xl text-center pb-6 text-blue-600">
          Uni Magazine
        </h1>
        <h1 class="sm:text-2xl text-2xl font-medium title-font text-gray-900">
          Please Select A Faculty
        </h1>
      </div>
      <div
        v-for="faculty in faculty"
        v-bind:key="faculty.facultyID"
        @click="guestLogin(faculty.facultyID)"
        class="flex flex-wrap -m-4 text-center md:w-2/3 mx-auto cursor-pointer"
      >
        <div class="p-4 w-full">
          <div
            class="border-2 border-gray-200 px-4 py-6 rounded-lg bg-gray-100 cursor-pointer hover:bg-gray-200"
          >
            <img
              :src="require(`../assets/images/${faculty.image}`)"
              class="h-16 w-16 mx-auto m-2"
            />
            <h2 class="title-font font-medium text-xl text-gray-900">
              {{ faculty.facultyID }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";
export default {
  data: () => ({
    faculty: [],
  }),
  created() {
    this.faculty = [
      {
        facultyID: "ComputerScience",
        image: "icons8-programming-flag-96.png",
      },
      {
        facultyID: "BusinessManagement",
        image: "icons8-business-96.png",
      },
      {
        facultyID: "GraphicDesign",
        image: "icons8-web-design-96.png",
      },
    ];
  },
  methods: {
    guestLogin(id) {
      firebase
        .auth()
        .signInAnonymously()
        .then(() => {
          this.$router.replace({
            name: "Faculty",
            params: { facultyID: id },
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
  },
};
</script>
