<template>
  <section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <Date />
      <Download />
    </div>
  </section>
</template>
<script>
import Date from "./manageDate";
import Download from "./manageDownload";
export default {
  components: {
    Date,
    Download,
  },
};
</script>
