<template>
  <section class=" w-full align-middle bg-gray-100">
    <div class="container w-full my-auto mx-auto rounded-lg">
      <ValidationObserver v-slot="{ handleSubmit }">
        <form
          @submit.prevent="handleSubmit(onSubmit)"
          class="bg-white rounded px-8 pt-2 pb-8"
        >
          <h1 class="font-semibold text-2xl text-center pt-10">
            Closure Date
          </h1>
          <div class="flex items-center justify-center pt-4">
            <h1 class="text-xs md:text-base font-bold">
              Start Date:
            </h1>
            <span class=" text-gray-600 pl-2">{{ getStart }}</span>
          </div>
          <div class="flex items-center justify-center pt-4">
            <h1 class="text-xs md:text-base font-bold">
              End Date:
            </h1>
            <span class=" text-gray-600 pl-2">{{ getEnd }}</span>
          </div>
          <h1
            v-if="getTotal != ''"
            class="text-center p-4 text-xs md:text-base"
          >
            {{ getTotal }} Days to publish post
          </h1>
          <h1 v-else class="text-center p-4 text-xs md:text-base">
            No Closure Date Set
          </h1>
          <p
            v-if="invalidDate"
            class="text-red-500 text-xs text-center pb-4 pt-2"
          >
            End date can not be set before start date!
          </p>
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/5">
              <label
                class="block text-gray-600 font-bold md:text-right mb-1 md:mb-0 pr-4"
                >Start Date</label
              >
            </div>
            <ValidationProvider
              name="Start Date"
              rules="required"
              v-slot="{ errors }"
              class="md:w-full md:pr-20"
            >
              <input
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-600"
                id="start"
                @change="start"
                v-model="formData.start"
                type="date"
              />
              <span class="text-red-500 text-xs">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/5">
              <label
                class="block text-gray-600 font-bold md:text-right mb-1 md:mb-0 pr-4"
                >End Date</label
              >
            </div>
            <ValidationProvider
              name="End Date"
              rules="required"
              v-slot="{ errors }"
              class="md:w-full md:pr-20"
            >
              <input
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-600"
                id="end"
                @change="end"
                v-model="formData.end"
                type="date"
              />
              <span class="text-red-500 text-xs">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="flex">
            <div class="my-auto mx-auto w-1/3">
              <button
                class="shadow bg-indigo-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded w-full text-xs md:text-base"
                type="submit"
              >
                Set Closure Date
              </button>
            </div>
          </div>
        </form>
      </ValidationObserver>
    </div>
  </section>
</template>

<script>
import { db } from "../main";
import firebase from "firebase/app";

export default {
  methods: {
    start() {
      this.formData.formatStart = new Date(this.formData.start + "T00:00:00");
      this.checkStart = Math.round(
        new Date(this.formData.start).getTime() / 1000
      );
    },
    end() {
      this.formData.formatEnd = new Date(this.formData.end + "T00:00:00");
      this.checkEnd = Math.round(new Date(this.formData.end).getTime() / 1000);
    },
    async onSubmit() {
      if (this.checkStart < this.checkEnd) {
        await db
          .collection("closure")
          .doc("date")
          .set(
            {
              start: firebase.firestore.Timestamp.fromDate(
                this.formData.formatStart
              ),
              end: firebase.firestore.Timestamp.fromDate(
                this.formData.formatEnd
              ),
            },
            { merge: true }
          )
          .catch(function(e) {
            const error = document.getElementById("errorDB");
            const errorMessage = document.createTextNode(e.message);
            error.appendChild(errorMessage);
          })
          .then(this.cal());
      } else {
        this.invalidDate = true;
      }
    },
    async cal() {
      await db
        .collection("closure")
        .doc("date")
        .get()
        .then((doc) => {
          if (doc.exists) {
            this.getStart = doc.data().start.toDate();
            this.getEnd = doc.data().end.toDate();
            this.getStarts = Math.round(doc.data().start.seconds * 1000);
            this.getEnds = Math.round(doc.data().end.seconds * 1000);
            this.getTotal = this.getEnds - this.getStarts;
            this.getTotal = this.getTotal / (1000 * 3600 * 24);
          }
        });
    },
  },
  created() {
    this.cal();
  },
  data: () => ({
    formData: {
      start: "",
      end: "",
      formatStart: "",
      formatEnd: "",
    },
    checkStart: "",
    checkEnd: "",
    invalidDate: "",
    getStart: "",
    getEnd: "",
    getTotal: "",
    getStarts: "",
    getEnds: "",
  }),
};
</script>
