<template>
  <section
    class="w-full pb-24 pt-4 flex align-middle bg-gray-100"
    v-if="closure"
  >
    <div class="container w-full my-auto mx-auto bg-white rounded-lg">
      <h1 class="font-semibold text-2xl text-center py-10">
        Download All Word Docs Past Closure Date
      </h1>
      <!--Fourth input -->
      <div class="md:flex md:items-center mb-6">
        <div class="my-auto mx-auto w-1/3">
          <button
            class="shadow bg-indigo-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded w-full"
            type="button"
            @click="download"
          >
            Download Word Files
          </button>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { db } from "../main";
import firebase from "firebase/app";
import JSZip from "jszip";
import FileSaver from "file-saver";

export default {
  created() {
    db.collection("post")
      .get()
      .then((query) => {
        query.forEach((doc) => {
          if (doc.exists) {
            const data = {
              fileURL: doc.data().fileURL,
              filePath: doc.data().filePath,
            };
            this.post.push(data);
            this.dates();
          }
        });
      });
  },
  methods: {
    async dates() {
      await db
        .collection("closure")
        .doc("date")
        .get()
        .then((doc) => {
          if (doc.exists) {
            const today = firebase.firestore.Timestamp.now().seconds * 1000;
            const end = Math.round(doc.data().end.seconds * 1000);
            if (today > end) {
              this.closure = true;
            } else {
              this.closure = false;
            }
          }
        });
    },
    download() {
      let jszip = new JSZip();
      const postLength = this.post.length;
      for (let i = 0; i < postLength; i++) {
        let fileName = this.post[i].filePath;
        let fileURL = this.post[i].fileURL;

        jszip.file(fileName, fileURL);

        if (i == postLength - 1) {
          jszip.generateAsync({ type: "blob" }).then((file) => {
            FileSaver.saveAs(file, "AllDocs.zip");
          });
        }
      }
    },
  },
  data: () => ({
    post: [],
    closure: false,
  }),
};
</script>
