<template>
  <section
    class="md:min-h-screen h-auto w-full flex align-middle bg-gray-100 py-24"
  >
    <div class="container px-5 py-12 mx-auto bg-white rounded-lg">
      <h1 class="font-semibold text-3xl text-center pt-2 pb-2">
        {{ facultyID }} Reports
      </h1>

      <div class="md:flex flex-wrap ">
        <div class="md:w-1/3 p-6" v-if="pubDone === true">
          <h1 class="font-semibold lg:text-2xl text-xl text-center pt-2 pb-2">
            Statistics Report
          </h1>
          <h1 class=" lg:text-lg text-center pb-2">
            Contributions Status Report
          </h1>

          <Pie
            v-bind:publish="publish"
            v-bind:unpublish="unpublish"
            v-bind:id="facultyID"
          />
        </div>
        <div class="md:w-1/3 p-6" v-if="calDone === true">
          <h1 class="font-semibold lg:text-2xl text-xl text-center pt-2 pb-2">
            Statistics Report
          </h1>
          <h1 class="lg:text-lg text-center pb-2">
            Contributions Year Report
          </h1>
          <PostInYear
            v-bind:dates="{
              janDate: janDate,
              febDate: febDate,
              marDate: marDate,
              aprDate: aprDate,
              mayDate: mayDate,
              junDate: junDate,
              julDate: julDate,
              augDate: augDate,
              sepDate: sepDate,
              octDate: octDate,
              novDate: novDate,
              decDate: decDate,
            }"
            v-bind:id="facultyID"
          />
        </div>
        <div class="md:w-1/3 p-6" v-if="calDone === true">
          <h1 class="font-semibold lg:text-2xl text-xl text-center pt-2 pb-2">
            Exception Report
          </h1>
          <h1 class=" lg:text-lg text-center pb-2">
            Contributions Without Comments Report
          </h1>
          <ExceptionComment v-bind:comments="Commented" />
        </div>
        <h1 v-if="noPost" class=" text-red-500 text-lg text-center mx-auto">
          No post created for this faculty
        </h1>
      </div>
    </div>
  </section>
</template>
<script>
import Pie from "./Pie";
import PostInYear from "./PostInYear";
import ExceptionComment from "./exceptionComment";
import { db } from "../main";

export default {
  components: {
    Pie,
    PostInYear,
    ExceptionComment,
  },
  props: ["facultyID"],
  created() {
    if (this.facultyID == "ComputerScience") {
      db.collection("post")
        .where("faculty", "==", "1")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const data = {
              id: doc.id,
              date: Math.round(doc.data().date.seconds * 1000),
              status: doc.data().status,
            };
            this.post.push(data);
            this.noPost = false;
          });
        })
        .then(() => {
          if (this.noPost === false) this.cal();
        });

      //Start for faculty 2
    } else if (this.facultyID == "BusinessManagement") {
      db.collection("post")
        .where("faculty", "==", "2")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const data = {
              id: doc.id,
              date: Math.round(doc.data().date.seconds * 1000),
              status: doc.data().status,
            };
            this.post.push(data);
            this.noPost = false;
          });
        })
        .then(() => {
          if (this.noPost === false) this.cal();
        });

      //Start for faculty 3
    } else {
      db.collection("post")
        .where("faculty", "==", "3")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const data = {
              id: doc.id,
              date: Math.round(doc.data().date.seconds * 1000),
              status: doc.data().status,
            };
            this.post.push(data);
            this.noPost = false;
          });
        })
        .then(() => {
          if (this.noPost === false) this.cal();
        });
    }
  },
  methods: {
    cal() {
      db.collection("comments")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const data = {
              id: doc.data().post,
            };
            this.comments.push(data);
          });
        })
        .then(() => {
          this.compareComment = this.comments.map((comment) => {
            let y = Object.keys(comment)[0];
            return (
              (comment.exist = this.post.some(
                (p) => y in p && p[y] === comment[y]
              )),
              comment
            );
          });
          let compare = this.compareComment.length;
          for (let o = 0; o < compare; o++) {
            if (this.compareComment[o].exist === true) {
              this.Nocomment = this.Nocomment + 1;
            }
          }
          this.Commented = this.compareComment.length - this.Nocomment;
        });
      const postLength = this.post.length;

      for (let x = 0; x < postLength; x++) {
        if (this.post[x].status == "UNPUBLISHED") {
          this.unpublish = this.unpublish + 1;
        } else {
          this.publish = this.publish + 1;
        }
        this.pubDone = true;
      }
      for (let i = 0; i < postLength; i++) {
        if (
          this.post[i].date >= 1577899400000 &&
          this.post[i].date <= 1580577800000
        ) {
          this.jan.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1580577800000 &&
          this.post[i].date <= 1583083400000
        ) {
          this.feb.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1583083400000 &&
          this.post[i].date <= 1585761800000
        ) {
          this.mar.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1585761800000 &&
          this.post[i].date <= 1588353800000
        ) {
          this.apr.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1588353800000 &&
          this.post[i].date <= 1591032200000
        ) {
          this.may.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1591032200000 &&
          this.post[i].date <= 1593624200000
        ) {
          this.jun.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1593624200000 &&
          this.post[i].date <= 1596302600000
        ) {
          this.jul.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1596302600000 &&
          this.post[i].date <= 1598981000000
        ) {
          this.aug.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1598981000000 &&
          this.post[i].date <= 1601573000000
        ) {
          this.sep.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1601573000000 &&
          this.post[i].date <= 1604251400000
        ) {
          this.oct.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1604251400000 &&
          this.post[i].date <= 1606843400000
        ) {
          this.nov.push(this.post[i].date);
        } else if (
          this.post[i].date >= 1606843400000 &&
          this.post[i].date <= 1609435400000
        ) {
          this.dec.push(this.post[i].date);
        }
        this.arrayLength = i + 1;
        if (this.arrayLength === postLength) {
          this.janDate = this.jan.length;
          this.febDate = this.feb.length;
          this.marDate = this.mar.length;
          this.aprDate = this.apr.length;
          this.mayDate = this.may.length;
          this.junDate = this.jun.length;
          this.julDate = this.jul.length;
          this.augDate = this.aug.length;
          this.sepDate = this.sep.length;
          this.octDate = this.oct.length;
          this.novDate = this.nov.length;
          this.decDate = this.dec.length;
          this.calDone = true;
        }
      }
    },
  },
  data: () => ({
    comments: [],
    noDup: [],
    post: [],
    jan: [],
    feb: [],
    mar: [],
    apr: [],
    may: [],
    jun: [],
    jul: [],
    aug: [],
    sep: [],
    oct: [],
    nov: [],
    dec: [],
    janDate: 0,
    febDate: 0,
    marDate: 0,
    aprDate: 0,
    mayDate: 0,
    junDate: 0,
    julDate: 0,
    augDate: 0,
    sepDate: 0,
    octDate: 0,
    novDate: 0,
    decDate: 0,
    arrayLength: 0,
    calDone: false,
    unpublish: 0,
    publish: 0,
    pubDone: false,
    compareComment: [],
    Nocomment: 0,
    Commented: 0,
    noPost: true,
  }),
};
</script>
